<div class="jumbotron overlay main-img web-introduction">
  <div class="container-fluid">    
      <div class="web-introduction-left col-md-5">
        <h1 class="main-headline">
          สภาเพื่อความก้าวหน้าของสังคมไทย          
        </h1>
        <p>ศูนย์รวมความรู้เพื่อการช่วยเหลือซีงกันและกัน</p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id convallis purus.</p> -->
           
        <!-- <section class="main-img"></section> -->
      </div>    
  </div>  
</div>

<div class="container">  
  <h1 class="h1 text-uppercase"><strong>กระดานข่าว</strong></h1>    
  <div class="row">
    <div class="col-md-6 col-xs-12 board-info" ng-repeat="topic in topics track by $index">
      <div class="row">
        <div class="col-md-2 col-xs-3 link-cursor" ng-click="gotoCategory(topic.categoryId)"><h1 class="board-icon" ng-class="topic.icon"></h1></div>
        <div class="col-md-10 col-xs-9">
          <h2>
            <strong class="link-cursor" ng-click="gotoCategory(topic.categoryId)">{{topic.category}}</strong>
            <!-- <small class="pull-right">Topics : {{topic.numberOfTopic}}</small> -->
            <br />
            <small>{{topic.description}}</small>
          </h2>          
        </div>
      </div>
    </div>    
  </div>
</div>  




<!-- <div class="container-fluid">
  <div class="col-md-5 web-introduction-left mm main-img overlay">
    <div class="page-header col-xs-12 col-xs-offset-1">
      <h1 class="main-headline">
        This is headline for the website
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id convallis purus.</p>         
    </div>
  </div>  
  <div class="row mm">
    <h1>another content</h1>    
  </div>  
</div> -->

